<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="menu">
    <!-- MENU PRINCIPAL -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" th:text="#{menu.menu}">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}" th:text="#{menu.home}" href="../index.html">Home</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','PRODUCTOS')">
                <a class="nav-link" th:href="@{/productos/list}" th:text="#{menu.productos}" href="../productos/list.html">Productos</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','CLIENTES')">
                <a class="nav-link" th:href="@{/clientes/list}" th:text="#{menu.clientes}" href="../clientes/list.html">Clientes</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','EMPLEADOS')">
                <a class="nav-link" th:href="@{/empleados/list}" th:text="#{menu.empleados}" href="../empleados/list.html">Empleados</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','DEPARTAMENTOS')">
                <a class="nav-link" th:href="@{/departamentos/list}" th:text="#{menu.departamentos}" href="../departamentos/list.html">Departamentos</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','PROVEEDORES')">
                <a class="nav-link" th:href="@{/proveedores/list}" th:text="#{menu.proveedores}" href="../proveedores/list.html">Proveedor</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','VENDEDORES')">
                <a class="nav-link" th:href="@{/vendedores/list}" th:text="#{menu.vendedores}" href="../vendedores/list.html">Vendedor</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','CESTA')">
                <a class="nav-link" th:href="@{/clientes/pedido/}+${session.pedido.cliente.codigo}" th:text="#{menu.cesta}" th:if="${session ne null and session.pedido ne null}" href="../vendedores/list.html">Vendedor</a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN','PEDIDOS')">
                <a class="nav-link" th:href="@{/pedidos/list}" href="pedidos/list.html"  th:text="#{menu.pedidos}">Pedidos</a>
            </li> 
            <li class="nav-item" >
              <a class="nav-link" th:href="@{/contactos/list}" href="contactos/list.html">Contactos</a>
            </li> 
            <li class="nav-item" >
              <a class="nav-link" th:href="@{/notas/list}" href="notas/list.html">Notas</a>
            </li> 
            </ul>

            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                &#127760;
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" th:href="@{/welcome?lang_config=es}" href="#" th:text="#{menu.idioma.espanol}">Español</a>
                  <a class="dropdown-item" th:href="@{/welcome?lang_config=en}" href="#" th:text="#{menu.idioma.ingles}">Inglés</a>
                </div>
              </li>
            </ul>

            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" th:placeholder="#{menu.buscar}">
              <button class="btn btn-outline-success bi bi-search" type="submit"></button>
            </form>
          </div>
        </div>
    </nav>
  </div> 
</body>
</html>


