<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>

    <div th:replace="commons/menu :: menu"></div>
    <div class="container-fluid">
        <form class="row g-3" method="post" th:action="@{/proveedores/update}">
            <div class="col-md-4">
                <label for="codigo" class="form-label" th:text="#{proveedor.codigo}">Codigo</label>
                <input type="text" class="form-control" id="codigo" name="codigo" th:value="${proveedor.codigo}" readonly>
            </div>
            <div class="col-md-4">
                <label for="nombre" class="form-label" th:text="#{proveedor.nombre}">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" name="nombre" th:value="${proveedor.nombre}" >
            </div>
            <div class="col-md-4">
                <label for="apellido" class="form-label" th:text="#{proveedor.apellido}">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" name="apellidos" th:value="${proveedor.apellidos}" >
            </div>
            <div class="col-4">
            <div class="col-md-4">
                <label for="telefono" class="form-label" th:text="#{proveedor.telefono}">Teléfono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" th:value="${proveedor.telefono}" >
            </div>
            <div class="col-md-4">
                <label for="direccion" class="form-label" th:text="#{proveedor.direccion}">Dirección</label>
                <input type="text" class="form-control" id="direccion" name="direccion" th:value="${proveedor.direccion}" >
            </div>
            <div class="col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="vip" th:text="#{proveedor.vip}">VIP</label>
                    <input class="form-check-input" type="checkbox" id="vip" name="vip" th:checked="${proveedor.vip}" >
                </div>
            </div>
                <a th:href="@{/proveedores/list}" href="list.html" class="btn btn-primary" th:text="#{list.atras}">Cancelar</a>
                <button class="btn btn-primary" type="submit" th:text="#{list.actualizar}">Actualizar</button>
            </div>
        </form>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>
</body>
</html>