<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/header :: header"></head>
<body>
    <div th:replace="commons/menu :: menu"></div>

    <div class="container">

        <div sec:authroize="isAuthenticated()">
            <p>Logged user: <span sec:authentication="name"></span></p>
            <p>Roles: <span sec:authentication="principal.authorities"></span></p>
            <a th:href="@{/logout}">Sign Out</a>
        </div>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>

</body>
</html>